<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var entity in Module.Entities)
    {
        <tr>
            <td>@entity.Name</td>
            <td>@entity.Description</td>
        </tr>
    }
    </tbody>
</table>

@code {
    [Parameter]
    public Module Module { get; set; }
}
