<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var vo in Module.ValueObjects)
    {
        <tr>
            <td>@vo.Name</td>
            <td>@vo.Description</td>
        </tr>
    }
    </tbody>
</table>

@code {
    [Parameter]
    public Module Module { get; set; }
}